<header>
	<h2>Welcome to Ember.js</h2>
</header>
<div>
	<div class={{className}}>{{message}}</div>
	<h2 {{action "alert" "something went wrong from Application Template"}}>Company Information Brochure</h2>
	{{outlet}}
</div>
<footer>
	&copy;2016 Bohdan Shtepan
</footer>